---
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-white  dark:bg-gray-900">
    <div class="text-white p-10 m-5 rounded-lg">
      <h1 class="text-4xl font-bold text-cyan-400 mb-4">
        ¡Tailwind Funciona!
      </h1>
      <p class="text-lg">
        Si este texto es blanco, el fondo es gris oscuro, y el título es azul cian, todo está perfecto.
      </p>
    </div>
  </body>
</html>