---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Proyectos.astro';
import Skills from '../components/Habilidades.astro';
import Contact from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Adrian Gallardo - En Construcción">

<div class="container mx-auto max-w-4xl px-4">

    <Hero />
    <Projects />
    <Skills />
    <Contact />

  </div>

  <Footer />
</Layout>